<%- include("partials/header") %>

<h1 class = "title"><%= obj.title %></h1>
<p class="dateClass"><%= obj.currdate %></p>
<p class="dateClass"><%= obj.currtime %></p>
<p><%= obj.content %></p>

<%- include("partials/footer") %>
